[Desktop Entry]
Name=kylin-installer
Name[zh_CN]=安装管理器
Comment[zh_CN]=麒麟软件管理工具
Comment=Kylin packages management tools
Exec=/usr/bin/kylin-installer %u
Icon=kylin-installer
#StartupNotify=true
NoDisplay=true
Terminal=false
Type=Application
Categories=PackageManager;GTK;System;Settings;Viewer;
Keywords=Sources;PPA;Install;Uninstall;Remove;Purchase;Catalogue;Store;Apps;
